{% extends 'base/main.html' %}
{% load util_tags %}

{% block content %}

<div class="container">
    <a href="{% url 'quotes' %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
    style="margin-bottom: 1.5rem; display: inline-block;">← Back to Quote List</a>
    
    <div class="mb-3">
        <h2 style="margin-bottom: 1.5rem;">{{ quote.title|default:"Quote Details" }} 
            <span class="btn {% if quote.completed %}btn-success status-completed btn-sm{% else %}btn-warning status-pending btn-sm{% endif %}">
            {{ quote.get_completed_display|default:quote.completed|yesno:"Completed,Pending" }}
        </span></h2>
        <div class="btn-group" role="group">
            <a href="{% url 'quote-update' quote.id %}" class="btn btn-warning">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a href="{% url 'quote-delete' quote.id %}" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> Delete
            </a>
        </div>
    </div>

    <h3 class="mb-1">General Information</h3>
    <hr class="mt-1 mb-3 border-2">
    <table class="table table-hover align-middle table-bordered table-sm">
        <tr>
            <td style="width: 200px"><strong>ID</strong></td>
            <td colspan="3">{{ quote.id }}</td>
        </tr>
        {% if quote.manager %}
        <tr>
            <td><strong>Manager</strong></td>
            <td colspan="3">{{ quote.manager }}</td>
        </tr>
        {% endif %}
        {% if quote.client %}
        <tr>
            <td><strong>Client</strong></td>
            <td colspan="3">{{ quote.client }}</td>
        </tr>
        {% endif %}
        {% if quote.machine_type %}
        <tr>
            <td><strong>Machine Type</strong></td>
            <td colspan="3">{{ quote.get_machine_type_display }}</td>
        </tr>
        {% endif %}
        {% if quote.user %}
        <tr>
            <td><strong>Created By</strong></td>
            <td colspan="3">{{ quote.user.username }}</td>
        </tr>
        {% endif %}
        <tr>
            <td><strong>Date</strong></td>
            <td colspan="3">{{ quote.created_at|date:"d M Y (H:i)" }}</td>
        </tr>
    </table>

    {% if spec %}
        <h3 class="mb-1">Specifications for {{ quote.get_machine_type_display }}</h3>
        <hr class="mt-1 mb-3 border-2">
        <table class="table table-hover align-middle table-bordered table-sm">
            {% for field in spec_fields %}
                {% with value=spec|get_attribute:field.name %}
                    {% if value != None and value != '' and value != False %}
                        <tr>
                            <td style="width: 200px"><strong>{{ field.verbose_name|capfirst }}</strong></td>
                            <td>
                                {% if field.get_internal_type == 'BooleanField' %}
                                    {{ value|yesno:"Yes,No" }}
                                {% elif field.choices %}
                                    {{ spec|get_attribute_display:field.name }}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </table>
    {% endif %}

    {% if quote.additional_requirements %}
        <h3 class="mb-1">Additional Requirements</h3>
        <hr class="mt-1 mb-0 border-2">
        <div class="mb-2">
            {{ quote.additional_requirements|linebreaksbr }}
        </div>
    {% endif %}

    <h3 class="mb-1">Attachment</h3>
    <hr class="mt-1 mb-0 border-2">
    <div>
        {% if quote.attachment %}
            <a href="{{ quote.attachment.url }}" target="_blank" class="attachment-link">
                <ul class="list-group">
                    <li class="list-group-item">{{ quote.attachment.name|default:"View Attachment" }}</li>
                </ul>
            </a>
        {% else %}
            No file attached
        {% endif %}
    </div>

</div>


{% endblock %}